@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.section-heading {
  margin-bottom: $spacing-xl;

  @include desktop {
    margin-bottom: $spacing-2xl;
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--light {
    .section-heading__title {
      color: $color-white;
    }

    .section-heading__subtitle {
      color: $color-gray-light;
    }
  }

  &__title {
    @include heading-lg;
    color: $color-dark;
  }

  &__subtitle {
    @include body-text;
    font-size: $font-size-md;
    color: $color-gray;
    margin-top: $spacing-sm;
    max-width: 600px;

    .section-heading--center & {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
