@use '../../../styles/variables' as *;

.healix-logo {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  letter-spacing: -0.03em;
  line-height: 1;
  display: inline-block;

  // Colors
  &--dark {
    color: $color-dark;
  }

  &--white {
    color: $color-white;
  }

  // Sizes
  &--sm {
    font-size: 1.25rem;
  }

  &--md {
    font-size: 1.5rem;
  }

  &--lg {
    font-size: $font-size-2xl;
  }
}

.healix-logo__accent {
  color: #357A64;
}
